{% extends "Aplicacion/padre.html" %}

{% load static %}

{% block contenidoquecambiar %}

<!-- Enlace para crear un nuevo autor -->

</style>
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1>Lista de Autores</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Biografía</th>
            <th>Fecha de Nacimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autores %}
            <tr>
                <td>{{ autor.nombre }}</td>
                <td>{{ autor.biografia }}</td>
                <td>{{ autor.fecha_nacimiento }}</td>
                <td>
                    <a href="{% url 'crear_autor' %}">Crear Autor</a>
                    <a href="{% url 'lista_autores' %}">Lista Autores</a>
                    <a href="{% url 'editar_autor' autor.nombre%}">Editar</a>
                    <a href="{% url 'eliminar_autor' autor.nombre%}">Eliminar</a>
                    <a href="{% url 'Inicio' %}">Inicio</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</header>
{% endblock %}